:root {
  --color-orange: #e87d0e;
  --color-white: #ffffff;
  --color-blue: #39289f;
  --color-blue2: #39289f;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--color-blue);
  color: var(--color-white);

  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

nav {
  /* border: solid #e87d0e; */
  height: 15vh;

  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-direction: row; */
}

.logo{
  /* border: solid #e87d0e; */
  width: 10vw;
  display: flex;
  justify-content: center;
}

ul {
  /* border: solid #e87d0e; */
  width: 50vw;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

li {
  /* border: solid red; */
  display: flex;
  /* flex-direction: row; */
}

a {
  color: var(--color-white);
  text-decoration: none;
}


/* Mensagem da página de erro */
.message-error{
  text-align: center;
  margin-top: 15vw;
}
/* Fontes que serão utilizadas*/

/* .rubik-<uniquifier > {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
} */
