:root {
  --color-orange: #e87d0e;
  --color-white: #ffffff;
  --color-blue: #39289f;
  --color-blue2: #39289f;
  --color-btn-contact-us: #fa9021;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Body */
body {
  background-color: var(--color-blue);
  color: var(--color-white);

  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;

  /* background-attachment: local; */
}

.body-joy-stick {
  background-image: url(../img/joy_stick.png);
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: scroll;
  background-origin: content-box content-box;
  background-size: 40vw;
}

/* Navbar */
nav {
  /* border: solid #e87d0e; */
  height: 15vh;

  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-direction: row; */
}

.logo-header {
  /* border: solid #e87d0e; */
  width: 10vw;
  display: flex;
  justify-content: center;

  font-size: 29px;
  font-weight: 800;
}

/* Menu */
ul {
  /* border: solid #e87d0e; */
  width: 50vw;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

li {
  /* border: solid red; */
  display: flex;
  /* flex-direction: row; */
}

a {
  color: var(--color-white);
  text-decoration: none;
}

.btn {
  /* background-color: var(--color-orange); */
  border: none;
  /* border-radius: 50px; */
  width: 180px;
  height: 43px;

  /* font-size: 16px; */
  color: var(--color-white);
}

.btn-contact-us {
  /* border: solid red; */
  background-color: #fa9021;
  border-radius: 6px;

  padding: 2rem;

  /* background-color: #199319; */
  color: white;
  padding: 15px 15px;
  text-decoration: none;
}

/*  Section */
.main-section {
  /* border: solid white; */

  width: 100%;
  height: 90vh;

  padding: 1rem 4rem;
}

.other-section {
  /* border: solid white; */

  width: 100%;
  height: 100vh;

  padding: 1rem 4rem;
}

/* Main */
.main-home {
  /* border: solid white; */

  display: flex;
  justify-content: row;
}

.information {
  /* border: solid pink; */

  width: 40vw;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-around;
  /* padding-left: 4rem; */
}

.information p:nth-child(1) {
  color: var(--color-orange);
  font-size: 20px;
  font-weight: bold;
}

h1 {
  font-size: 50px;
  font-weight: bold;
}

.logo-games {
  /* border: solid peru; */

  width: 60vw;
  height: auto;

  display: flex;
}

.btn-details {
  /* border: none; */
  border-radius: 50px;
  background: linear-gradient(#fb9e3c, #fa8305);
  /* background: linear-gradient(#e66465, #9198e5); */
  /* width: 180px;
  height: 43px;

  font-size: 16px;
  color: var(--color-white); */
}

.logo-games div {
  /* border: solid pink; */
  /* height: 50vh; */
  /* width: 30vw; */
}

.logo-games-1 {
  /* border: solid pink; */
  /* height: 50vh; */
  width: 15vw;
  display: flex;
  align-items: center;
}

.logo-games-2 {
  /* border: solid green; */
  height: 40vh;
  width: 30vw;

  /* display: flex; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-games-2 img {
  /* border: solid red; */
  width: 5vw;
}

/* section games */
.currently-games {
  /* border: solid green; */
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.currently-trending {
  display: flex;
  justify-content: space-between;
}

.btn-all {
  width: 120px;
  height: 45px;
  background-color: #4e41a6;
  color: var(--color-white);
  border: 1px;
  border-radius: 10px;

  font-family: "Rubik", sans-serif;
  font-size: 18px;
}

.followers {
  /* border: solid red; */
  margin-top: 1rem;
  width: 15vw;
  display: flex;
  justify-content: space-evenly;

  font-family: "Rubik", sans-serif;
  /* font-size: 16px; */
}

h3 {
  font-size: 35px;
  font-weight: 600;

  margin: 0 12rem;
  text-align: center;
}

h4 {
  font-size: 30px;
  font-weight: 600;
}

.middle-section {
  /* border: solid red; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* flex-direction: column; */
  justify-content: space-around;
}

.text-middle-section {
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text-middle-section p {
  /* border: 2px solid orange; */
  margin-right: 55%;
}

.img-middle-section {
  position: relative;
}

.middle-section img {
  width: auto;
  height: 60vh;
}

.ellipse {
  /* border: solid green; */

  position: absolute;
  top: -50px;
  right: 30%;

  display: flex;
  justify-content: space-between;
  width: 355px;
  height: 255px;
  flex-wrap: wrap;
}

.ellipse-line {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.o {
  background-color: var(--color-orange);
  width: 10px;
  height: 10px;
  /* border: 1px solid var(--color-orange); */
  border-radius: 50%;
  display: inline-block;
  opacity: 0;
}

.o-opacity {
  opacity: 0.3;
}

/* dark section */

.dark-section {
  /* border: solid green; */

  /* background-image: url(/src/img/dark.png); */
  background-color: #000000a6;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.background-img {
  /* border: solid yellow; */

  width: 100%;
  height: 100%;

  opacity: 0.2;
  position: absolute;
}

.text-dark-section {
  /* border: solid wheat; */

  height: 30vh;
  width: auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  /* margin: 0 4rem; */
}

.text-dark-section p {
  /* font-size: 16px; */
  margin: 0 12rem;
  text-align: center;
}

.dark-icon {
  border: #e87d0e;
  height: 70vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.dark-icon-group {
  /* border: solid red; */
  width: 20vw;
  height: 30vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.dark-icon-group-img {
  /* border: solid green; */

  background-color: var(--color-white);
  height: 50px;
  width: 50px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.final-section {
  height: 110vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.recent-projects-img {
  /* border: solid violet; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* justify-content: center; */
  /* width: 15%; */
  height: 85vh;
  margin-top: 3rem;
}

.recent-projects-img img {
  margin-bottom: 1.3rem;
}

.recent-projects-img img:nth-child(1) img:nth-child(2) {
  width: 382px;
  height: 223px;

  /* margin-bottom: 1rem; */
}

.recent-projects-img img:nth-child(3) {
  width: 352px;
  height: 223px;
}

.recent-projects-img img:nth-child(4) {
  width: 246px;
  height: 223px;
}

.recent-projects-img img:nth-child(5) {
  width: 401px;
  height: 223px;
}

.recent-projects-img img:nth-child(6) {
  width: 469px;
  height: 223px;
}

.stay-in-loop {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.text-stay-in-loop {
  height: 189px;
  background-color: #1c140f;
  border-radius: 15px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 4rem;
}

.form-email {
  width: 386px;
  height: 48px;
  background-color: var(--color-white);
  padding: 0.5rem 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
}

.form-email input {
  border: 0;
  border-radius: 8px;
  width: 70%;
}

.btn-form-email {
  border-radius: 10px;
  width: 105px;
  height: 37px;
  background-color: #dc7000;
}

footer {
  height: 50vh;
  background-color: #070707;

  display: flex;
  flex-direction: column;
}

.footer-all-sections {
  display: flex;
  justify-content: space-evenly;
}

.section-footer {
  /* border: #e87d0e solid; */

  width: 23vw;
  height: 250px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* align-items: center; */
}

.logo-footer a:nth-child(1) {
  /* border: solid #e87d0e; */

  font-size: 29px;
  font-weight: 800;
}

.footer-all-sections .section-footer:nth-child(2) {
  /* border: solid green; */
  width: 12vw;
}

.footer-all-sections .section-footer:nth-child(4) {
  display: flex;
  flex-direction: row;
  /* justify-content: end; */
  align-items: end;
  padding-bottom: 2rem;
}

.social-network {
  /* border: solid green; */

  background-color: var(--color-white);
  height: 34px;
  width: 34px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.social-network img {
  width: 12px;
  height: 12px;
}

footer p:nth-last-child(1) {
  text-align: center;
  margin-top: 1rem;
}

#linha {
  width: auto;
  border: 0.8px solid #d2d2d2;
}

/* Contact Us */

/* map */
.section-map-contacts {
  /* border: solid saddlebrown; */
  display: flex;
  justify-content: space-around;
}

.social-network-dark {
  background-color: black;
  height: 34px;
  width: 34px;
  border-radius: 50%;

  display: flex;
  /* flex-direction: ; */
  justify-content: center;
  align-items: center;

  position: relative;
}

.section-map-contacts section {
  /* border: solid salmon; */
  width: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.section-map-contacts section:nth-last-child(1) {
  width: 25%;
}

.stay-in-loop-contact {
  background-color: #3c3b59;
}

.section-map {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Mensagem da página de erro */
.error-main-section {
  height: 40vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.message-error {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  /* text-align: center; */
  /* margin-top: 15vw; */
  /* padding-right: 30vw; */
}

/* Fontes que serão utilizadas*/

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 900

.rubik-<uniquifier> {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

/* 
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

*/
